{% extends 'FastQuery/base.html' %}

{% block instructionsblock %} class="menu-active" {% endblock %}

{% block content %}

    <section id="features" class="padd-section text-center" style="margin-top: 2%;">
        <div class="container border border-light rounded">
            <div style="margin-top: 2%;">
                <div class="section-title text-center">
                    <h2><strong>INSTRUCTIONS</strong></h2>
                    <p class="separator" style="font-size: 20px;">The hybrid Data Structure, explained</p>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
